<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f3e5f5;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('tool.index') }}">Ari - Cuentas</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('tool.index') }}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('tool.login') }}">Login</a>
                </li>
            </ul>
            <div class="d-flex align-items-center">
                <div class="cart-icon position-relative" id="cartIcon">
                    <button class="btn btn-outline-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#cartOffcanvas">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="cartCount">0</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>